nav a:link,
nav a:visited {
    color: blue;
}

nav a:hover {
    color: darkblue;
}

nav a:active {
    color: blue;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-button.active {
  font-weight: bold;
}

.tabs {
    justify-content: center;
    display: flex;
    gap: 30px;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
	background-image: url("https://wallpapercave.com/wp/wp9088090.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -2;
}


@font-face {
    font-family: "KiwiSoda";
    src: url("./fonts/KiwiSoda.ttf") format("truetype");
}
@font-face {
    font-family: "Daydream";
    src: url("./fonts/Daydream DEMO.otf") format("truetype");
}
@font-face {
    font-family: "Mariofont";
    src: url("./fonts/SuperMario256.ttf") format("truetype");
}
@font-face {
    font-family: "Zeldafont";
    src: url("./fonts/TheWildBreathOfZelda-15Lv.ttf") format("truetype");
}
@font-face {
    font-family: "AnimalCrossingfont";
    src: url("./fonts/qlarendon.otf") format("truetype");
}

.ZeldaStyleFont {
	font-family: "Zeldafont";
}

.animalStyleFont {
	font-family: "AnimalCrossingfont";
}
.nintendoIntro {
	text-align: center;
}

#marioDesc {
	background-color: red;
	border: 5px solid black;
	font-family: "Mariofont", sans-serif;
}

#kirbyDesc {
	background-color: pink;
	border: 5px solid black;
}
#zeldaDesc {
	background-color: green;
	border: 5px solid black;
}

p {
		font-size: 30px;
	}

	#mario {
		background-color: red;
		
	}
	#mariotext {
		font-family: "Mariofont";
	}
	#mario img {
		height: 250px;
		width: 300px;
		transition: ease-in-out 1s;
		border-radius: 20px
	}
	#mario img:hover {
		height: 350px;
		width: 400px;
		transition: ease-in-out 1s;
	}
	.marioCharacterText {
		font-family: "Mariofont";
	}
	.marioCharacterForm {
		font-family: "Mariofont";
	}
	.marioCharacterTextArea {
		font-family: "Mariofont";
	}
	#superMarioHeading {
		font-family: "Mariofont";
	}
	#superMarioNav {
		font-family: "Mariofont";
	}
	#luigi {
		background-color: green;
	}
	#peach {
		background-color: pink;
	}

	#bowser {
		background-color: yellow;

	}
	#bowserJr {
		background-color: orangered;

	}
	.nintendoBorder {
		border: 5px solid black;
	}

	#line {
		background-color: black;
		border-radius: 10px;
		height: 10px;
		width: 100%;
	}





	#kirby {
		background-color: pink;
	}

	#kingDedede {
		background-color: orange;
	}
	#metaKnight {
		background-color: blueviolet;
	}

	#link {
		background-color: green;
	}
	#zelda {
		background-color: pink;
	}

	#villager {
		background-color: orange;
	}
	#isabelle {
		background-color: yellow;
	}
	#tomNook {
		background-color: brown;
	}
	#samus {
		background-color: plum;
	}
	#ridley {
		background-color: purple;
	}
	#animalCrossingDesc {
		background-color: lightblue;
		border: 5px solid black;
	}

	#metroidDesc {
		background-color: plum;
		border: 5px solid black;
	}

	#copyrightDesc {
		background-color: lightgray;
		border: 5px solid black;
	}

